
{% extends 'base.html' %}
{% block content %}
<h1>Course!</h1>
<p>
    <a class="btn btn-primary" href="{{ url_for('course_create') }}"> Создать курс </a>
</p>
<div class="container">
<table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название курса</th>
          <th scope="col">Продолжительность курса</th>
        </tr>
      </thead>
      <tbody>
      {% for course in courses %}
        <tr>
          <th scope="row">{{ course.id }}</th>
          <td>{{ course.course_name }}</td>
          <td>{{ course.course_duration }}</td>
          <td>
              <a class="btn btn-outline" href="{{ url_for('course_detail', id=course.id) }}">Детальная информация</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}