
{% extends 'base.html' %}
{% block content %}
<h1>Информация о студенте</h1>
<p>
    <a class="btn btn-primary" href="{{ url_for('student_create') }}"> Create Student </a>
</p>
<div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ФИО</th>
          <th scope="col">Дата рождения</th>
          <th scope="col">Номер телефона</th>
          <th scope="col">Название курса</th>
          <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody>
      {% for student, courses in students %}
        <tr>
          <th scope="row">{{ student.id }}</th>
          <td>{{ student.name }}</td>
          <td>{{ student.birth_date }}</td>
          <td>{{ student.phone_number }}</td>
          <td>{{ courses.course_name }}</td>
          <td>
              <!-- <a href="student/{{ student.id }}">Детальная информация</a> ##Ссылка для перенаправляние-->
              <a class="btn btn-outline" href="{{ url_for('student_detail', id=student.id) }}">Детальная информация</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}